body{
     background-color: violet
}   

h1{
    font-family: 'Dancing Script', cursive;
}

img src{
    https://www.google.com/search?q=positive+vibes+meme&rlz=1CAMUHR_enUS894&source=lnms&tbm=isch&sa=X&ved=2ahUKEwj8qp-dyJ3qAhVKmXIEHaI_AVsQ_AUoAXoEC
}

p{
    font-family: 'Kaushan Script', cursive;

}

.content {
  max-width: 600px;
  margin: auto;
  padding: 10px;
}
