<html>
    <head>
        <title>About Us</title>
        <link rel="stylesheet" type="text/css" href="static/css/aboutus.css?q={{ time }}" />
    </head>
    <body>
        <h1>
            This page is about US!!
        </h1>
        <h2>
            Ruth: Hello my name is Ruth! I'm 14 years old and I attend The Young
            Women Leadership of the Bronx. I enjoy reading and watching anime.Im 
            also interested in coding.My favorite anime is called Jojo's bizzare
            adventure and my favorite book is A thousand Splendid Suns.
        </h2>
        <h2>
            Germayoli: Hi!My name is Germayoli.I am 16 years old and I attend high school
            of world cultures.I am in a bilingual school.I enjoy writing,singing and dancing.
            I am a student of model in Barbizon.I am interested in software work and I am going
            to study social work at the college.I speak two languages and I'm a really cool person.
        </h2>
    </body>
</html>

